
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home :: ISL Stars</title>

<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="css/local.css" />

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/championsScript.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="css/all1.min.css" />
<link id="gridcss" rel="stylesheet" type="text/css"
	href="css/all2.min.css" />

</head>
<body>
	<div id="wrapper" ng-app="campiansApp" ng-controller="champiansCtrl"
		ng-init="initGroupPage('index')">
		<div class="loading" ng-if="contentLoaded">
			<!-- <div id="loader"></div> -->
			<div class="load">Loading...</div>
			<div class="loader">Loading...</div>
		</div>
		
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">ISL Stars</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul id="active" class="nav navbar-nav side-nav">
					<li ng-click="changeGroup(-1,{})" ng-class="dash"><a
						href="index.html"><i class="fa fa-bullseye"></i> Dashboard</a></li>
					<li ng-class="select[$index]" ng-click="changeGroup($index,x)"><a href="groupPage.html"><i
							class="fa fa-tasks"></i> Points</a></li>
					<li><a href="searchUser.html"><i
							class="fa fa-tasks"></i> Add my friend</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right navbar-user">

					<li class="dropdown user-dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"><i
							class="fa fa-user"></i> {{profile[0].fname}} {{profile[0].lname}}<b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-user"></i>
									{{mobNoOfUser}}</a></li>
							<li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
							<li class="divider"></li>
							<li ng-click="logout()"><a href="#"><i
									class="fa fa-power-off"></i> Log Out</a></li>

						</ul></li>
					<li class="divider-vertical"></li>
					<li><a href="credits.html">Get Ready for fun game!</a></li>
				</ul>
			</div>
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading col-lg-12">
							<div class="col-lg-10 game-plan-discription">
								<i class="fa fa-futbol-o" aria-hidden="true"></i> <font class="game-plan">{{gamePlan.opt1.name}}<span ng-if="gamePlan.winner!=''">({{gamePlan.opt1.goal}})</span> vs {{gamePlan.opt2.name}}<span ng-if="gamePlan.winner!=''">({{gamePlan.opt2.goal}})</span></font><br>
								<font class="game-discription" ng-if="gamePlan.kickoff!=''">Kickoff - {{gamePlan.kickoff}}</font>
								<font class="game-discription" ng-if="gamePlan.kickoff==''">Not Started</font>
							</div>
							<div class="col-lg-2">
								<button class="left-arrow" ng-click="getGamePlan(-1)" ng-disabled="gamePlan.match==1"><i class="fa fa-arrow-left" aria-hidden="true"></i></button><button class="right-arrow" ng-click="getGamePlan(0)" ng-disabled="gamePlans.length==gamePlan.match"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
							</div>
						</div>
						<div class="panel-body">
							<div class="row higjlights">
								<div class="col-lg-4 panel panel-default box1">
									<div class="panel-heading p1">Match score</div>
									<div class="panel-body">{{getMatchPoint(gamePlan.uri,
										my_score)}}</div>
								</div>
								<div class="col-lg-4 panel panel-default box1">
									<div class="panel-heading p2">Total score</div>
									<div class="panel-body">{{getTotalScore()}}</div>
								</div>
								<div class="col-lg-4 panel panel-default box1">
									<div class="panel-heading p3">Toper</div>
									<div class="panel-body">
										<marquee>{{highName}}</marquee>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-lightbulb-o" aria-hidden="true"></i> Predict here !!
							</h3>
						</div>
						<div class="panel-body" ng-hide="alreadyPredicted">
							<div class="col-lg-12" ng-show="tab1">
								<div class="col-lg-12 titles quiz-title">Which team will kickoff the match</div>
								<div class="col-lg-12">
									<div class="col-lg-6 titles quiz-panel2">
										<img ng-click="selectKickOff(gameToPredict.opt1.name)" class="mouse-point" alt="{{gameToPredict.opt1.name}}" src="images/{{teamImage[gameToPredict.opt1.name]}}.png">
									</div>
									<div class="col-lg-6 titles quiz-panel2">
										<img ng-click="selectKickOff(gameToPredict.opt2.name)" class="mouse-point" alt="{{gameToPredict.opt2.name}}" src="images/{{teamImage[gameToPredict.opt2.name]}}.png">
									</div>
								</div>
							</div>
							<div class="row" ng-show="tab2">
							<button class="back-button" ng-click="goBack()"> <i class="fa fa-arrow-left" aria-hidden="true"></i>Back </button>
								<div class="col-lg-12 titles quiz-title">Predict the score</div>
								<div class="col-lg-12" style="display: block; overflow: auto;">
									<div class="col-lg-4 titles quiz-panel left-img">
										<img ng-click="selectKickOff(gameToPredict.opt1.name)" class="mouse-point" alt="{{gameToPredict.opt1.name}}" src="images/{{teamImage[gameToPredict.opt1.name]}}.png">
									</div>
									<div class="col-lg-2 titles quiz-panel1">
										<div id="opt1_plus"><button ng-click="opt1plus()" class="plus-btn"><i class="fa fa-plus" aria-hidden="true"></i></button></div>
										<div>{{myPrediction.opt1.goal}}</div>
										<div id="opt1_minus"><button ng-click="opt1minus()" class="minus-btn"><i class="fa fa-minus" aria-hidden="true"></i></button></div>
									</div>
									<div class="col-lg-2 titles quiz-panel1">
										<div id="opt2_plus"><button ng-click="opt2plus()" class="plus-btn"><i class="fa fa-plus" aria-hidden="true"></i></button></div>
										<div>{{myPrediction.opt2.goal}}</div>
										<div id="opt2_minus"><button ng-click="opt2minus()" class="minus-btn"><i class="fa fa-minus" aria-hidden="true"></i></button></div>
									</div>
									<div class="col-lg-4 titles quiz-panel right-img">
										<img ng-click="selectKickOff(gameToPredict.opt2.name)" class="mouse-point" alt="{{gameToPredict.opt2.name}}" src="images/{{teamImage[gameToPredict.opt2.name]}}.png">
									</div>
								</div>
								<div class="col-lg-12 submit-button">
									<input type="button" class="btn btn-primary" value="Submit" ng-click="predict()">
								</div>
							</div>
						</div>
						<!-- gameToPredict:{{gameToPredict}}<br>
						quizAnsw:{{quizAnsw}}<br>
						gamePlan:{{gamePlan}}<br>
						allGroups:{{allGroups}}<br>
						my_score:{{my_score}}
						profile:{{profile}} -->
					</div>
				</div>
			</div>
			<!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
			    <div class="modal-dialog modal-sm">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Modal Header</h4>
			        </div>
			        <div class="modal-body">
			          <p>This is a small modal.</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			    </div>
			  </div>	
		</div>
	</div>
	</div>
	<!-- /#wrapper -->

</body>
</html>
