
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home :: Champions</title>

<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="css/local.css" />

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/championsScript.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="css/all1.min.css" />
<link id="gridcss" rel="stylesheet" type="text/css"
	href="css/all2.min.css" />

</head>
<body>
	<div id="wrapper" ng-app="campiansApp" ng-controller="champiansCtrl"
		ng-init="initGroupPage('index')">
		<div class="loading" ng-if="contentLoaded">
			<div id="loader"></div>
		</div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">Champions</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul id="active" class="nav navbar-nav side-nav">
					<li ng-click="changeGroup(-1,{})" ng-class="dash"><a
						href="index.html"><i class="fa fa-bullseye"></i> Dashboard</a></li>
					<li ng-class="select[$index]" ng-repeat="x in allGroups"
						ng-click="changeGroup($index,x)"><a href="groupPage.html"><i
							class="fa fa-tasks"></i> {{x.name}}</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right navbar-user">

					<li class="dropdown user-dropdown"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown"><i
							class="fa fa-user"></i> {{profile[0].fname}} {{profile[0].lname}}<b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="fa fa-user"></i>
									{{mobNoOfUser}}</a></li>
							<li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
							<li class="divider"></li>
							<li ng-click="logout()"><a href="#"><i
									class="fa fa-power-off"></i> Log Out</a></li>

						</ul></li>
					<li class="divider-vertical"></li>
					<li><a href="credits.html">Get Ready for fun game!</a></li>
				</ul>
			</div>
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading col-lg-12">
							<div class="col-lg-10" ng-if="gamePlan.fscore!=gamePlan.sscore"
								ng-hide="notStarted">
								<h3 class="panel-title" ng-if="gamePlan.fscore">
									<i class="fa fa-trophy"></i>
									{{gamePlan.fbat}}({{gamePlan.fscore}}/{{gamePlan.ffow}}-{{gamePlan.fover}})
									vs
									{{gamePlan.sbat}}({{gamePlan.sscore}}/{{gamePlan.sfow}}-{{gamePlan.sover}})
									- {{gamePlan.venue}} ({{gamePlan.date}}/6/17)
								</h3>
								<h6>{{gamePlan.won}} won by
									{{gamePlan.fscore>gamePlan.sscore ?
									(gamePlan.fscore-gamePlan.sscore):10-gamePlan.sfow}}
									{{gamePlan.fscore>gamePlan.sscore ? 'runs':'wickets'}}, man of
									the match {{gamePlan.motm}}</h6>
							</div>
							<div class="col-lg-10" ng-if="gamePlan.fscore==gamePlan.sscore"
								ng-hide="notStarted">
								<h3 class="panel-title">
									<i class="fa fa-trophy"></i>
									{{gamePlan.fbat}}({{gamePlan.fscore}}/{{gamePlan.ffow}}-{{gamePlan.fover}})
									vs
									{{gamePlan.sbat}}({{gamePlan.sscore}}/{{gamePlan.sfow}}-{{gamePlan.sover}})
									- {{gamePlan.venue}} ({{gamePlan.date}}/6/17)
								</h3>
								<h6>Match tied</h6>
							</div>

							<div class="col-lg-10" ng-if="gamePlan.fscore==gamePlan.sscore"
								ng-show="notStarted">
								<h3 class="panel-title">Match is about to start!</h3>
							</div>
							<div class="col-lg-2" ng-hide="notStarted">
								<select class="form-control" ng-model="gamePlan"
									ng-options="x.match for x in gamePlans | filter:{fscore:''}"
									ng-change="matchChange()"></select>
							</div>
						</div>
						<div class="panel-body">
							<div class="row higjlights">
								<div class="col-lg-4 panel panel-default box1">
									<div class="panel-heading p1">Match score</div>
									<div class="panel-body">{{getMatchPoint(gamePlan.uri,
										my_score)}}</div>
								</div>
								<div class="col-lg-4 panel panel-default box1">
									<div class="panel-heading p2">Total score</div>
									<div class="panel-body">{{getTotalScore()}}</div>
								</div>
								<div class="col-lg-4 panel panel-default box1">
									<div class="panel-heading p3">Toper</div>
									<div class="panel-body">
										<marquee>{{highName}}</marquee>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								<i class="fa fa-bar-chart-o"></i> {{gameToPredict.op1}} vs
								{{gameToPredict.op2}} - {{gameToPredict.venue}}
							</h3>
						</div>
						<div class="panel-body">
							<table class="table table-striped">
								<tbody ng-repeat="x in quizAnsw">
									<tr>
										<td width="85%">{{x.qz}}</td>
										<td width="15%" ng-if="x.multi"><select
											class="form-control" ng-model="x.ans">
												<option>{{gameToPredict.op1}}</option>
												<option>{{gameToPredict.op2}}</option>
												<option>Tied</option>
										</select></td>
										<td width="15%" ng-if="!x.multi"><input type="number"
											ng-if="x.uri=='/quiz/q2'" class="form-control"
											ng-model="x.ans"
											oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											maxlength="3"> <input type="number"
											ng-if="x.uri=='/quiz/q3' || x.uri=='/quiz/q4'"
											class="form-control" ng-model="x.ans"
											oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
											maxlength="2"></td>
								</tbody>
								<tbody>
									<tr>
										<td width="85%"></td>
										<td width="15%"><button id="submitBtn"
												class="btn btn-primary" ng-click="submitPrediction()">Submit</button></td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- gameToPredict:{{gameToPredict}}<br>
						quizAnsw:{{quizAnsw}}<br>
						gamePlan:{{gamePlan}}<br>
						allGroups:{{allGroups}}<br>
						my_score:{{my_score}}
						profile:{{profile}} -->
					</div>
				</div>
			</div>
			<!-- Modal -->
			  <div class="modal fade" id="myModal" role="dialog">
			    <div class="modal-dialog modal-sm">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Modal Header</h4>
			        </div>
			        <div class="modal-body">
			          <p>This is a small modal.</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			    </div>
			  </div>	
		</div>
	</div>
	</div>
	<!-- /#wrapper -->

</body>
</html>
