
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - ISL Stars</title>

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/local.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/loginScript.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>   
    <style type="text/css">
.input-group {
	display:flex;
}
</style>
</head>
<body>

    <div id="wrapper" ng-app="loginApp" ng-controller="loginCtrl">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="login.html">ISL Stars</a>
            </div>
            
        </nav>
<div class="loading" ng-if="contentLoaded">
			<!-- <div id="loader"></div> -->
			<div class="load">Loading...</div>
			<div class="loader">Loading...</div>
		</div>
        <div id="page-wrapper">

            <div class="row">

                <div class="col-lg-12 v-center">

                    <h1>Sign In</h1>
                    <p class="lead">Please Login and have fun!</p>

                    <form>
                        <div class="input-group" style="width: 80%; text-align: center; margin: 0 auto; float: left;">
                        	<input class="form-control input-lg" id="mobEntry" ng-model="mob" title="Login" maxlength="10" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="Mobile number" type="number">
                            <input class="form-control input-lg" title="Login" ng-model="paswd" placeholder="Password" type="password">
                            <span class="input-group-btn" style="float: inherit;">
                                <button class="btn btn-lg btn-primary" type="button" ng-click="login()" style="height: 54.1px;">Sing In</button></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 registration">
                	<a href="playregister.html">Sign Up</a>
                </div>
            </div>
            
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->
    </div>    
</body>
</html>
