
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - ISL Stars</title>

<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="css/local.css" />

<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/register.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<style type="text/css">
.input-group {
	display: flex;
}
</style>
</head>
<body>

	<div id="wrapper" ng-app="registerApp" ng-controller="registerCtrl">
	<div class="loading" ng-if="contentLoaded">
			<!-- <div id="loader"></div> -->
			<div class="load">Loading...</div>
			<div class="loader">Loading...</div>
		</div>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="login.html">ISL Stars</a>
			</div>

		</nav>
		<!-- <div class="loading">
			<div id="loader"></div>
		</div> -->
		<div id="page-wrapper">

			<div class="row">
				<div class="col-lg-12">
					<h1>Sign In</h1>
					<p class="lead">Please Login and have fun!</p>
				</div>
				<div class="col-lg-4 v-center reg-form">

					<form class="col-lg-12" ng-submit="registerToApp()">
						<input type="text" class="form-control play-reg-input"
							ng-model="profile.fname" required="required" placeholder="First Name"> 
						<input
							type="text" class="form-control play-reg-input" ng-model="profile.lname"
							required="required" placeholder="Last Name">
						<input type="number"
							class="form-control play-reg-input" ng-model="profile.mob" placeholder="Mobile Number" required="required" maxlength="10">
						<input type="password" class="form-control play-reg-input"
							ng-model="profile.paswrd" required="required" placeholder="Enter Password"> 
						<input type="password" class="form-control play-reg-input"
							ng-model="passwd" required="required" placeholder="Re-Enter Password">
						<button type="submit" class="btn btn-primary"
							ng-disabled="profile.paswrd!=passwd ||
                         profile.paswrd==undefined || passwd==undefined || (profile.paswrd+'').length<6 ||
                          (profile.mob+'').length!=10 || profile.mob==undefined || profile.fname == undefined ||
                           profile.lname==undefined">Sign Up</button>
					</form>
				</div>
				<div class="col-lg-4 instructions">
					<font>Instructions</font>
					<ul>
						<li>All fields are mandatory.</li>
						<li>Mobile number of 10 digits only allowed.</li>
						<li>Password should be more than 6 character.</li>
					</ul>
				</div>
				<div class="col-lg-4">
				
				</div>
			</div>

			<!-- /.row -->

		</div>
		<!-- /#page-wrapper -->
	</div>
</body>
</html>
